<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel [expanded]="expansionPanelStep === 0" (opened)="setExpansionPanelStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Player initiatives
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-player-initiative-list></app-player-initiative-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3" [expanded]="expansionPanelStep === 1" (opened)="setExpansionPanelStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Enemy initiatives
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-enemy-initiative-list></app-enemy-initiative-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-initiative-roller class="mb-3"></app-initiative-roller>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5">
      <app-canvas></app-canvas>
    </div>
  </div>
</div>
