@use "../src/assets/styles/preparatory/package" as p;
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  padding: 3rem;
  @include p.flex($direction: column, $gap: 1rem);
}

app-root {
  min-height: 100vh;
}
